<!DOCTYPE html>
<html>
    <head>
        <title>FMM - Coming Soon!</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='resources/favicon.png') }}">
    </head>
    <body>
        <div>Coming Soon!</div>
        <p>For now you can find this functionality in the terminal version of the program, run with `python3 -i playground.py`</p>
    </body>

    <style>
        @font-face {
            font-family: "Nunito-Light";
            src: url("/static/resources/nunito/Nunito-Light.ttf");
        }

        body {
            font-family: "Nunito-Light";
        }
        div {
            font-size: 50px;
            text-align: center;
        }

        p {
            text-align: center;
        }
    </style>
</html>
