<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='graphs.css') }}">
    </head>
    <body>
        <div id="graph_over_time"></div>


        <!-- Data for use in javascript -->
        <div class="hide" data-graph-type="total"> {{ convo.data_for_total_graph() }} </div>
        <div class="hide" id="name"> {{ convo._name.title() }} </div>
    </body>

    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{ url_for('static', filename='graphs.js') }}"></script>
</html>
