<!DOCTYPE HTML>
<!--
Page styling by Gokul Swamy: http://gok.cool
-->
<head>
    <title>FMM - Word Clouds</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
    <link href="{{ url_for('static', filename='lightbox.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='word_clouds.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='resources/favicon.png') }}">
</head>
<body>
    <!-- DATA FROM FLASK IN DUMMY HTML FOR JAVASCRIPT USAGE  -->
    <input id="max_colors" value="{{ MAX_COLORS }}" style="display: none;">
    <input id="max_layers" value="{{ MAX_LAYERS}}" style="display: none;">

    {% for item in image_files|dictsort %}
        <div data-image-name="{{ image_path + item[0] }}"
             data-width="{{ item[1][0] }}"
             data-height="{{ item[1][1] }}" style="display: none;"></div>
    {% endfor %}


    <form class="input-set" method="post">
        <p class="title">Create a word cloud!</p>
        <div class="questions">
            <!-- First chunk of form - Types and Shapes centric data -->
            <div class="separator">Types and Shapes</div>
            <div class="word_cloud_type_controller">
                <p class="question-stem">What kind of cloud do you want?</p>
                <select class="dropdown" name="type">
                    <option value="default">Default</option>
                    <option value="layered">Layered</option>
                    <option value="polarity">Polarity</option>
                </select>
            </div>
            <div class="not_layered shape-controller">
                <p class="question-stem">What shape would you like the word cloud to be?</p>
                <select class="dropdown" name="shape">
                    <option value="circular">circular</option>
                    <option value="rectangular">rectangular</option>
                    <option value="image">image-overlay</option>
                </select>
            </div>
            <div class="only_default only_image">
                <p class="question-stem">Which image would you like to use as a background? The cloud will overlay
                    words on all non transparent pixels.</p>
                <div>
                    {% for item in image_files|dictsort %}
                        <a href="{{ url_for('static', filename='resources/wc_backgrounds/' + item[0]) }}"
                           data-lightbox="background-images"
                           data-title="{{ item[0] + '   ({}, {})'.format(item[1][0], item[1][1]) }}">
                            <img src="{{ url_for('static', filename='resources/wc_backgrounds/' + item[0]) }}"
                            width="100" style="display: none;" data-img="{{ image_path + item[0] }}"></a>
                    {% endfor %}
                </div>
                <select class="dropdown" id="only-image-choice" name="image_name">
                    {% for item in image_files|dictsort %}
                        <option value="{{ image_path + item[0] }}">
                            {{ item[0] + '   ({}, {})'.format(item[1][0], item[1][1]) }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- type: "layered" form elements -->
            <div class="only_layered num_layer_controller">
                <p class="question-stem">How many layers would you like? (2-{{ MAX_LAYERS }})</p>
                <input type="number" value="2" class="field" max="5" min="2" name="num_layers">
            </div>
            <div class="only_layered">
                {% for i in range(1, 6) %}
                    <div class="separator" data-layer="{{ i }}">Layer {{ i }}</div>

                    <p class="question-stem" data-layer="{{ i }}">Which image would you like to use as a
                        background of layer {{ i }}?</p>
                    <div class="lightbox2-container" data-layer="{{ i }}">
                        {% for item in image_files|dictsort %}
                            <a href="{{ url_for('static', filename='resources/wc_backgrounds/' + item[0]) }}"
                               data-lightbox="background-images{{ i }}"
                               data-title="{{ item[0] + '   ({}, {})'.format(item[1][0], item[1][1]) }}">
                                <img src="{{ url_for('static', filename='resources/wc_backgrounds/' + item[0]) }}"
                                width="100" style="display: none;" data-img="{{ image_path + item[0] }}"></a>
                        {% endfor %}
                    </div>
                    <select class="dropdown background-image" name="image_name{{ i }}" data-layer="{{ i }}">
                        {% for item in image_files|dictsort %}
                            <option value="{{ image_path + item[0] }}">{{ item[0] }}</option>
                        {% endfor %}
                    </select>

                    <p class="question-stem" data-layer="{{ i }}">What text set would you like to use for layer {{ i }}?</p>
                    <select class="dropdown" name="input_words{{ i }}" data-layer="{{ i }}">
                        {% for file in input_word_files %}
                            <option value="{{ input_word_path + file }}" data-layer="{{ i }}">{{ file }}</option>
                        {% endfor %}
                    </select>

                    <p class="question-stem" data-layer="{{ i }}">How many colors would you like in layer {{ i }}? (max 5)</p>
                    <input type="number" value="1" class="field num-colors" max="{{ MAX_COLORS }}" min="1" name="num_colors{{ i }}"
                    data-layer="{{ i }}">
                    <p class="question-stem" data-layer="{{ i }}">What colors would you like?</p>
                    <div class="color-container{{ i }}" data-layer="{{ i }}">
                        <input type="color" value="#0000FF" class="color" data-color-ind="1" data-layer="{{ i }}" name="layer{{ i }}_color1">
                        <input type="color" value="#FF0000" class="color" data-color-ind="2" data-layer="{{ i }}" name="layer{{ i }}_color2">
                        <input type="color" value="#00FF00" class="color" data-color-ind="3" data-layer="{{ i }}" name="layer{{ i }}_color3">
                        <input type="color" value="#FFFF00" class="color" data-color-ind="4" data-layer="{{ i }}" name="layer{{ i }}_color4">
                        <input type="color" value="#FF00FF" class="color" data-color-ind="5" data-layer="{{ i }}" name="layer{{ i }}_color5">
                    </div>
                {% endfor %}
            </div>

            <!-- Type: "polarity" form elements -->
            <div class="separator only_polarity">Layer 1</div>
            <p class="question-stem only_polarity">What text set would you like to use for layer 1?</p>
            <select class="dropdown only_polarity" name="input_words1_polarity">
                {% for file in input_word_files %}
                    <option value="{{ input_word_path + file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <p class="question-stem only_polarity">How many colors would you like in layer 1? (max 5)</p>
            <input type="number" value="1" class="field num-colors only_polarity" max="{{ MAX_COLORS }}" min="1"
                   name="num_colors1_polarity" data-polarity="1">
            <p class="question-stem only_polarity">What colors would you like?</p>
            <div class="color-container1_polarity only_polarity">
                <input type="color" value="#0000FF" class="color" data-color-ind="1" name="polarity1_color1" data-polarity="1">
                <input type="color" value="#FF0000" class="color" data-color-ind="2" name="polarity1_color2" data-polarity="1">
                <input type="color" value="#00FF00" class="color" data-color-ind="3" name="polarity1_color3" data-polarity="1">
                <input type="color" value="#FFFF00" class="color" data-color-ind="4" name="polarity1_color4" data-polarity="1">
                <input type="color" value="#FF00FF" class="color" data-color-ind="5" name="polarity1_color5" data-polarity="1">
            </div>
            <div class="separator only_polarity">Layer 2</div>
            <p class="question-stem only_polarity">What text set would you like to use for layer 2?</p>
            <select class="dropdown only_polarity" name="input_words2_polarity">
                {% for file in input_word_files %}
                    <option value="{{ input_word_path + file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <p class="question-stem only_polarity">How many colors would you like in layer 2? (max 5)</p>
            <input type="number" value="1" class="field num-colors only_polarity" max="{{ MAX_COLORS }}" min="1"
                   name="num_colors2_polarity" data-polarity="2">
            <p class="question-stem only_polarity">What colors would you like?</p>
            <div class="color-container1_polarity only_polarity">
                <input type="color" value="#0000FF" class="color" data-color-ind="1" name="polarity2_color1" data-polarity="2">
                <input type="color" value="#FF0000" class="color" data-color-ind="2" name="polarity2_color2" data-polarity="2">
                <input type="color" value="#00FF00" class="color" data-color-ind="3" name="polarity2_color3" data-polarity="2">
                <input type="color" value="#FFFF00" class="color" data-color-ind="4" name="polarity2_color4" data-polarity="2">
                <input type="color" value="#FF00FF" class="color" data-color-ind="5" name="polarity2_color5" data-polarity="2">
            </div>

            <!-- Data form elements -->
            <div class="separator only_default">Word Cloud Data</div>
            <div class="only_default">
                <p class="question-stem">Which text file would you like to use as input? The (frequency of) the words
                in this file will be used to create the cloud.</p>
                <select class="dropdown" name="input_words">
                    {% for file in input_word_files %}
                        <option value="{{ input_word_path + file }}">{{ file }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="only_default">
                <p class="question-stem">Would you like to use any excluded word sets? No words from the file selected
                will be used in the cloud.</p>
                <select  class="dropdown" name="excluded_words">
                    {% for file in excluded_word_files %}
                        <option value="{{ excluded_word_path + file }}">{{ file }}</option>
                    {% endfor %}
                    <option value="None">None</option>
                </select>
            </div>

            <!-- Styling form elements -->
            <div class="separator not_layered">Dimensions and Styling</div>
            <div class="separator only_layered">Gobal Dimensions and Styling (applies to all layers)</div>
            <p class="question-stem only_default">How many colors would you like in the cloud? (max 5)</p>
            <input type="number" value="1" class="field num-colors only_default" max="{{ MAX_COLORS }}" min="1" name="num_colors">
            <p class="question-stem only_default">What colors would you like?</p>
            <div class="color-container only_default">
                <input type="color" value="#0000FF" class="color" data-color-ind="1" name="color1">
                <input type="color" value="#FF0000" class="color" data-color-ind="2" name="color2">
                <input type="color" value="#00FF00" class="color" data-color-ind="3" name="color3">
                <input type="color" value="#FFFF00" class="color" data-color-ind="4" name="color4">
                <input type="color" value="#FF00FF" class="color" data-color-ind="5" name="color5">
            </div>
            <p class="question-stem">What width would you like for the word cloud?</p>
            <input type="number" value="750" class="field" name="width" id="width" min="1" max="10000">
            <p class="question-stem">How about the height?</p>
            <input type="number" value="750" class="field" name="height" id="height" min="1" max="10000">
            <p class="question-stem">What would you like the maximum font size to be?</p>
            <input type="number" value="50" class="field" name="max_font_size" min="2" max="1000">
            <p class="question-stem">How about the minimum font size?</p>
            <input type="number" value="10" class="field" name="min_font_size" min="1" max="999">
            <p class="question-stem">How many words would you like to include (at maximum)?</p>
            <input type="number" value="1000" class="field" name="num_words_to_include" min="1" max="10000">

            <!-- Output name -->
            <div class="separator">Output Name</div>
            <div class="png-suffix">
                <p class="question-stem">What should the output be named?</p>
                <input type="text" value="current_time.png" class="field" name="output_name">
            </div>

            <input id="submit" type="submit" value="👍" class="bottom-button" style="margin-top: 80px;">
        </div>
    </form>
    <h1 style="margin: auto; text-align: center; display: none;">Creating your word cloud!</h1>

    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='lightbox.js') }}"></script>
    <script src="{{ url_for('static', filename='word_clouds.js') }}"></script>
</body>
